# Web Scraping Multiple Pages Of Job-seeking Website timesjobs.com

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Now we make empty lists that serve as the intitial storage for the scraped info.

In [2]:
company_names = []
skills = []
work_exp = []

Now, the work begins.
The job of the following piece of code is to :
* Go to the website of choice
* Loop through the first 25 pages(although it can be easily set to go through all the pages).
* Parse the HTML code of those said pages
* Extract any kind of information ; here, Company name, Skills required and Work experience required.

In [3]:
url1='https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=python&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=python&pDate=I&sequence= &startPage= '
for i in range (0,25):
    url = url1.replace(' ', str(i))
    browser_page=requests.get(url)
    src=browser_page.content
    soup=BeautifulSoup(src,'lxml')
    jobs=soup.find_all('li', class_="clearfix job-bx wht-shd-bx")
    
    for job in jobs:
        company_name=job.find('h3', class_="joblist-comp-name").text.strip()
        skill=job.find('span', class_="srp-skills").text.strip()
        work_ex = job.find('li').text.strip().replace('card_travel','')
         
        company_names.append(company_name)
        skills.append(skill)
        work_exp.append(work_ex)

After that, we tabulate all our recently acquired data by first creating a python dictionary which we then use to create our Pandas dataframe,'dict_df'.

In [4]:
dict_info = {'Company': company_names,
            'Skills': skills,
            'Work experience': work_exp}
dict_df = pd.DataFrame.from_dict(dict_info)
dict_df

,Company,Skills,Work experience
0,Surya Informatics Solutions Pvt. Ltd.,"python , web technologies , linux , mobi...",0 - 3 yrs
1,capgemini,"security compliance , python , html5 , m...",12 - 15 yrs
2,Pure Tech Codex Private Limited,"rest , python , database , django , de...",2 - 3 yrs
3,Gemini Solutions,"python , mobile , svn , nosql , python...",4 - 7 yrs
4,GEMINI SOFTWARE SOLUTIONS,"python , mobile , svn , nosql , python...",4 - 7 yrs
...,...,...,...
595,Binance,"python , oracle , ubuntu , senior softwa...",5 - 8 yrs
596,Arete Careers ( OPC ) Pvt Ltd,"rest , python , rdbms , lucene , probl...",3 - 6 yrs
597,Red Bixbite Solutions Pvt. Ltd.,"fundamentals , html5 , storage , oop , ...",3 - 6 yrs
598,Draup,"python , node.js , information retrieval ...",3 - 5 yrs
599,Symphisys,"sql , git , xml , linux , json , mys...",5 - 10 yrs

Finally, we save our 600 rows of data(21492,if we had chosen to scrape all the Python job-pages) and save it in the Desktop folder of our local machine,thus finishing the job at hand.

In [5]:
dict_df.to_csv('tjobs.csv',index=False)